<template>
  <card title="Create Pegawai">
    {{ $t('you_are_logged_in') }}
    <h1>Create Data Pegawai</h1>
    <router-link to="/employee" class="btn btn-info ">
        Kembali
    </router-link><br/><br/>

  <form @submit.prevent="save">
  <div class="form-group row">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" v-model="form.name" class="form-control" id="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="date_birth" class="col-sm-2 col-form-label">Date Of Birth</label>
    <div class="col-sm-10">
      <input type="text" v-model="form.date_of_birth" class="form-control" id="date_birth" placeholder="date_birth">
    </div>
  </div>
  <div class="form-group row">
    <label for="job_title" class="col-sm-2 col-form-label">Job title</label>
    <div class="col-sm-10">
      <input type="text" v-model="form.job_title" class="form-control" id="job_title" placeholder="job_title">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" :disabled="loading">Save</button>
    </div>
  </div>
</form>


  </card>
</template>


<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
  middleware: 'auth',

    // meta : {
    //     permission : 'empoyee.list',
    // },
  head () {
    return { title: 'create pegawai' }
  },
  async asyncData(context){  
    
  },
  data(){
      return {
            form : {
                name: '',
                date_of_birth: '',
                job_title: ''

            },
            loading : false
        }
  },
  methods:{
    async save(){
        this.loading =  true
        let resp =  (await axios.post('employee', this.form)).data
       if(resp.success){
            Swal.fire({
                icon: 'success',
                title: 'berhasil',
                text: 'data berhasil disimpan',
                reverseButtons: true,
                confirmButtonText: 'ok',
              
            })
       }else{
              Swal.fire({
                icon: 'error',
                title: 'gagal menyimpan data',
                text: resp.message,
                reverseButtons: true,
                confirmButtonText: 'ok',
              
              })
       }
      this.loading = false
      this.form.name = ""
      this.form.date_of_birth = ""
      this.form.job_title = ""
    }     
  }
}
</script>