<template>
  <card title="Simpan Kehadiran Anda">
    
    Tanggal : {{ currentDate }}
    <br/>
    Jam : {{ currentTime }}
    <br/>
    <router-link to="/employee" class="btn btn-info ">
        Kembali
    </router-link><br/><br/>

  <form @submit.prevent="save">
  <!-- <div class="form-group row">
    <label for="Name" class="col-sm-2 col-form-label">latitude</label>
    <div class="col-sm-10">
      <input type="text" disabled v-model="form.latitude" class="form-control" id="latitude" placeholder="latitude">
    </div>
  </div>
  <div class="form-group row">
    <label for="date_birth" class="col-sm-2 col-form-label">longitude</label>
    <div class="col-sm-10">
      <input type="text" disabled v-model="form.longitude" class="form-control" id="longitude" placeholder="longitude">
    </div>
  </div>
  <div class="form-group row">
    <label for="job_title" class="col-sm-2 col-form-label">timezone</label>
    <div class="col-sm-10">
      <input type="text" disabled v-model="form.timezone" class="form-control" id="timezone" placeholder="timezone">
    </div>
  </div> -->
  <div class="form-group row">
    <div class="col-sm-10">
      <button class="btn btn-primary" :disabled="loading">Save</button>
    </div>
    <!-- <div class="col-sm-10">
      <button type="button" class="btn btn-primary" :disabled="loading" @click="getLocation">get location</button>
    </div> -->
  </div>
</form>


  </card>
</template>


<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
  middleware: 'auth',

    // meta : {
    //     permission : 'empoyee.list',
    // },
  head () {
    return { title: 'catat kehadiran anda' }
  },
  async asyncData(context){  
    
  },
  data(){
      return {
            form : {
                latitude: '',
                longitude: '',
                timezone: ''

            },
            currentDate: null,
            currentTime: null,
            loading : false
        }
  },
  methods:{
    updateDate(){
      var today = new Date();
      this.currentDate = today.getFullYear()+'-'+(today.getMonth()+1+'').padStart(2,'0')+'-'+(today.getDate()+ '').padStart(2,'0');
      setTimeout(this.updateDate, 1000)
    },
    updateTime(){
      var today = new Date();
       this.currentTime = (today.getHours()+'').padStart(2,'0') + ":" + (today.getMinutes()+'').padStart(2,'0') + ":" + (today.getSeconds()+'').padStart(2,'0');
      setTimeout(this.updateTime, 1000 - (new Date).getMilliseconds())
    },
    getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((position) => {
              this.form.latitude = position.coords.latitude
              this.form.longitude = position.coords.longitude
          });
        } else {
         this.form.latitude = 0;
         this.form.longitude = 0; 
        }
      },
    async save(){
        this.loading =  true
        let resp =  (await axios.post('presence', this.form)).data
         Swal.fire({
                icon: 'success',
                title: 'berhasil',
                text: 'data berhasil disimpan',
                reverseButtons: true,
                confirmButtonText: 'ok',
              
      })
      this.loading = false
      this.form.latitude = ""
      this.form.longitude = ""
      this.form.timezone = ""
    },
  },

  created(){
      this.getLocation()
      this.form.timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
      this.updateDate()
      this.updateTime()
    }     
};
</script>