<template>
  <card title="Daftar Absensi">
    {{ $t('you_are_logged_in') }}
    <h1>Terdapat {{ count}} absensi</h1>
    <router-link to="/presence/create" class="btn btn-primary ">
        rekam absen
    </router-link><br/><br/>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Filter Tahun</label>
      <div class="col-sm-10">
        <select class="form-control form-control-sm" v-model="filterYear">
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Filter Bulan</label>
      <div class="col-sm-10">
        <select class="form-control form-control-sm" v-model="filterMonth">
          <option value="1">Januari</option>
          <option value="2">Februari</option>
          <option value="3">Maret</option>
          <option value="4">April</option>
          <option value="5">Mei</option>
          <option value="6">Juni</option>
          <option value="7">Juli</option>
          <option value="8">Agustus</option>
          <option value="9">September</option>
          <option value="10">Oktober</option>
          <option value="11">November</option>
          <option value="12">Desember</option>
        </select>
      </div>
    </div>

    <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Waktu Masuk</th>
      <th scope="col">Waktu Pulang</th>
     
      <th scope="col" colspan="2">aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="presence in presences" :key="presence.id" >
      <th scope="row">{{ presence.id }}</th>
      <td>{{ presence.date }}</td>
      <td>{{ presence.checkin_time }}</td>
      <td>{{ presence.checkout_time }}</td>
     
      <td><router-link :to="'/presence/update/' + presence.id "><fa icon="edit" fixed-width/></router-link></td>
      <td><button @click="deleteData(presence)"><fa icon="trash" fixed-width/></button></td>
    </tr>
  
  </tbody>
</table>


  </card>
</template>


<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
  middleware: 'auth',

    // meta : {
    //     permission : 'empoyee.list',
    // },
  head () {
    return { title: 'daftar absen' }
  },
  async asyncData(context){
       let res = (await axios.get("presence")).data 
       let presences = res.data
       let count = res.count
       let filterYear = (new Date).getFullYear() 
       let filterMonth = (new Date).getMonth()+1
       return {
           presences,
           count,
           filterYear,
           filterMonth
         } 
  },
  methods : {
     async refreshData(){
            let res = (await axios.get("presence",{
              params : {
                month : this.filterMonth,
                year : this.filterYear
              }
            })).data 
            let pre = res.data

            this.presences = pre
      },
       async deleteData(employee){
           let result =  await Swal.fire({
                    icon: 'warning',
                    title: "konfimasi",
                    text: "yakin akan mneghapus data ini ?",
                    reverseButtons: true,
                    showCancelButton: true,
                    confirmButtonText: "ok",
                    cancelButtonText: "batal"
                })
                if(result.isConfirmed){
                         let res = (await axios.delete("employee/" + employee.id)).data 
                            Swal.fire({
                                icon: 'error',
                                title: 'berhasil',
                                text: 'data berhasil dihapus',
                                reverseButtons: true,
                                confirmButtonText: 'ok',
                            
                            })
                     this.refreshData       
                }
            

        }  
    },
    watch : {
      filterMonth(newVal){
          this.refreshData()
      },

      filterYear(newVal){
        this.refreshData()
      }
    }
}
</script>